---
import { getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const { Content: LegalContent } = await (
  await getEntry('home', 'en/legal')
).render();
---

<Layout blank={false} title="Legal">
  <div class="px-6 sm:px-10">
    <LegalContent />
  </div>
</Layout>
