---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Section from '../components/Section.astro';
import { Image } from 'astro:assets';

const gradientLeft =
  'linear-gradient(96deg, rgba(92, 92, 92, 0.43) -15.48%, rgba(0, 0, 0, 0.00) 54.01%)';
const gradientRight =
  'linear-gradient(85deg, rgba(92, 92, 92, 0.20) -24.17%, rgba(0, 0, 0, 0.00) 68.51%)';
---

<Layout title="Felix Blaimauer">
  <Navbar />

  <div class="relative mt-20 h-[calc(100vh-5rem)]">
    <div
      class="absolute bottom-8 left-10 flex flex-col text-display-xl font-semibold text-white-30 leading-tighter mt-60"
    >
      <span class="text-primary">Felix Blaimauer</span>
      <span class="hover:text-white-70 transition duration-75"
        >Web Dev & Design</span
      >
      <span class="hover:text-white-70 transition duration-75">Game Dev</span>
      <span class="hover:text-white-70 transition duration-75"
        >3D Visual FX</span
      >
    </div>
    <div class="absolute right-8 top-14 w-5/12">
      <Image
        src={import('/src/assets/star_illustration.svg')}
        alt="Illustration"
        class="absolute top-12 right-28 rotate-[24deg] scale-125 w-1/2"
      />
      <Image
        src={import('/src/assets/portrait.png')}
        alt="Portrait"
        class="absolute -top-28 right-10 saturate-[1.1] w-3/4"
      />
    </div>
  </div>

  <Section class="mt-8" name="About">
    <div class="text-body-lg text-white-70">
      <p class="font-semibold text-display-xl text-primary">Hello &#x1F44B,</p>
      <p>my name is <em>Felix</em>, nice to meet you!</p>
      <p>
        I like helping <em>people</em> and <em>companies</em> innovate their <em
          >online presence</em
        >.
      </p>
      <p>Here are some <em>facts</em> about me:</p>
      <ul class="list-disc ml-14">
        <li>based in Austria <em>&#x1f1e6&#x1f1f9</em></li>
        <li>innovative <em>&#x1F468;&#x200D;&#x1F4BB;</em></li>
        <li>creative <em>&#x1F3A8;</em></li>
      </ul>
    </div>
  </Section>
</Layout>
