---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Redirecting">
  <h2 class="text-body-lg text-primary font-semibold">Redirecting...</h2>
  <p>
    If you are not automatically redirected please follow one of these links:
  </p>
  <ul>
    <li><a href="/en">English</a></li>
    <li><a href="/de">Deutsch</a></li>
  </ul>
</Layout>
