---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import { Image } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';
import CustomMarkdown from '../components/CustomMarkdown.astro';
import ProjectList from '../components/ProjectList.astro';

const { Content: About } = await (await getEntry('home', 'about')).render();
const { Content: Contact } = await (await getEntry('home', 'contact')).render();

const projects = await getCollection('projects');

const gradientLeft =
  'linear-gradient(96deg, rgba(92, 92, 92, 0.43) -15.48%, rgba(0, 0, 0, 0.00) 54.01%)';
const gradientRight =
  'linear-gradient(85deg, rgba(92, 92, 92, 0.20) -24.17%, rgba(0, 0, 0, 0.00) 68.51%)';
---

<Layout title="Felix Blaimauer">
  <div class="relative mt-20 h-[calc(100vh-5rem)]">
    <div
      class="absolute bottom-8 left-10 flex flex-col text-display-xl font-semibold text-white-30 leading-tighter mt-60"
    >
      <span class="text-primary">Felix Blaimauer</span>
      <span class="hover:text-white-70 transition duration-75"
        >Web Dev & Design</span
      >
      <span class="hover:text-white-70 transition duration-75">Game Dev</span>
      <span class="hover:text-white-70 transition duration-75"
        >3D Visual FX</span
      >
    </div>
    <div class="absolute right-8 top-14 w-5/12">
      <Image
        src={import('/src/assets/star_illustration.svg')}
        alt="Illustration"
        class="absolute top-12 right-28 rotate-[24deg] scale-125 w-1/2"
      />
      <Image
        src={import('/src/assets/portrait.png')}
        alt="Portrait"
        class="absolute -top-28 right-10 saturate-[1.1] w-3/4"
      />
    </div>
  </div>

  <Section class="mt-8" name="About">
    <CustomMarkdown
      class="text-body-lg [&>h2]:font-semibold [&>h2]:text-display-xl [&>h2]:text-primary"
    >
      <About />
    </CustomMarkdown>
  </Section>

  <Section class="mt-14" padding={false} name="Projects">
    <h2
      class="text-display-xl text-primary font-semibold leading-tighter px-10"
    >
      Check out some of my projects
    </h2>
    <div class="mt-8">
      <ProjectList projects={projects.map((it) => it.slug)} />
    </div>
  </Section>

  <Section class="mt-14" name="Contact">
    <CustomMarkdown
      class="text-body-lg [&>h2]:font-semibold [&>h2]:text-display-xl [&>h2]:text-primary"
    >
      <Contact />
    </CustomMarkdown>
  </Section>
</Layout>
