---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Legal">
  <div class="px-10">
    <h1 class="mt-20 text-primary text-5xl font-semibold">Legal</h1>
    <p>Legal stuff goes here</p>
  </div>
</Layout>
