---
import { twMerge } from 'tailwind-merge';
import type { ClassProps } from '../../interfaces/ClassProps';

interface Props extends ClassProps {}

const { class: className } = Astro.props;
---

<h2 class={twMerge('font-medium text-5xl sm:text-6xl mb-4 w-fit', className)}>
  <slot />
</h2>
