---
import { twJoin } from 'tailwind-merge';

interface Props {
  class?: string;
  list?: boolean;
  xl?: boolean;
}

const { class: className, list = true, xl = false } = Astro.props;
---

<div
  class:list={[
    'markdown',
    { '[&>ul]:ml-14 [&>ul]:list-disc': list, 'title-md': xl },
    'text-white-70 text-2xl sm:text-body-lg leading-tight',
    className,
  ]}
>
  <slot />
</div>
