---
import { twJoin } from "tailwind-merge";

interface Props {
  class?: string;
  list?: boolean;
}

const { class: className, list = true } = Astro.props;
---

<div
  class={twJoin(
    `markdown text-white-70 ${list ? "[&>ul]:ml-14 [&>ul]:list-disc" : ""}`,
    className,
  )}
>
  <slot />
</div>
