---
import { twJoin } from 'tailwind-merge';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={twJoin(
    'markdown text-white-70 [&>ul]:list-disc [&>ul]:ml-14',
    className
  )}
>
  <slot />
</div>
