---
import type { ClassProps } from '../interfaces/ClassProps';
import { Icon } from 'astro-icon/components';

interface Props extends ClassProps {
  name: string;
  padding?: boolean;
  markdown?: {
    list?: boolean;
  };
}

const { name, padding, class: className, markdown } = Astro.props;
const id = `${name.toLowerCase()}`;
const href = `#${id}`;
---

<style>
  h2 {
    background: red !important;
  }
</style>
<section
  class:list={[
    { 'px-3 sm:px-14': padding ?? true },
    'appear-in-view',
    className,
  ]}
  id={id}
>
  <div
    class:list={[
      {
        'markdown text-white-70': markdown,
        '[&>ul]:ml-14 [&>ul]:list-disc': markdown?.list,
      },
    ]}
  >
    <slot />
  </div>
</section>
